<a href="https://colab.research.google.com/github/HectorRAD/MachineLearning/blob/main/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lectura de archivo

In [229]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np
from sklearn.decomposition import PCA

EmpleadosAttrition = pd.read_csv("/content/empleadosRETO.csv")
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes

#Eliminacion de columnas no importantes (a criterio personal)

In [230]:
EmpleadosAttrition = EmpleadosAttrition.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)
print(EmpleadosAttrition.columns)

Index(['Age', 'BusinessTravel', 'Department', 'DistanceFromHome', 'Education',
       'EducationField', 'EnvironmentSatisfaction', 'Gender', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'NumCompaniesWorked', 'HiringDate', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'Attrition'],
      dtype='object')

#Creando columna YearsAtCompany

In [231]:
EmpleadosAttrition['Year'] = EmpleadosAttrition['HiringDate'].str.split('/').str[2]
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['Year'].astype(int)

EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,5
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,3
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,1
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,8
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,7

#Creando columna DistanceFromHome

In [232]:
EmpleadosAttrition.rename(columns={'DistanceFromHome':'DistanceFromHome_km'}, inplace= True)
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome_km'].str.split(' ').str[0].astype(int)

EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,3,32,1,2,4,1,No,2013,5,1
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,7,0,3,2,0,No,2015,3,6
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,2,1,3,3,0,1,Yes,2017,1,7
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,4,18,4,3,6,4,No,2010,8,7
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,4,15,2,4,6,7,Yes,2011,7,15

#Borrando Columnas auxiliares

In [233]:
EmpleadosAttrition = EmpleadosAttrition.drop(['Year', 'HiringDate', 'DistanceFromHome_km'], axis=1)
print(EmpleadosAttrition.columns)

Index(['Age', 'BusinessTravel', 'Department', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'Attrition', 'YearsAtCompany',
       'DistanceFromHome'],
      dtype='object')

#Sueldo promedio por departamento

In [234]:
SueldoPromedioDeptoTemp = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean()
SueldoPromedioDepto = pd.DataFrame({'Departamento':SueldoPromedioDeptoTemp.index, 'Salario Promedio':SueldoPromedioDeptoTemp.values})
SueldoPromedioDepto.head()

             Departamento  Salario Promedio
0         Human Resources       6239.888889
1  Research & Development       6804.149813
2                   Sales       7188.250000

#Escalando MonthlyIncome

In [235]:
scaler = MinMaxScaler()

EmpleadosAttrition['MonthlyIncome'] = scaler.fit_transform(EmpleadosAttrition[['MonthlyIncome']])
print(EmpleadosAttrition['MonthlyIncome'])

0      0.864269
1      0.207340
2      0.088062
3      0.497574
4      0.664470
         ...
395    0.075248
396    0.187197
397    0.589327
398    0.121124
399    0.092122
Name: MonthlyIncome, Length: 400, dtype: float64

##Conversion a numericas

In [236]:
EmpleadosAttrition['BusinessTravel'] = EmpleadosAttrition['BusinessTravel'].astype('category').cat.codes
EmpleadosAttrition['Department'] = EmpleadosAttrition['Department'].astype('category').cat.codes
EmpleadosAttrition['EducationField'] = EmpleadosAttrition['EducationField'].astype('category').cat.codes
EmpleadosAttrition['Gender'] = EmpleadosAttrition['Gender'].astype('category').cat.codes
EmpleadosAttrition['JobRole'] = EmpleadosAttrition['JobRole'].astype('category').cat.codes
EmpleadosAttrition['MaritalStatus'] = EmpleadosAttrition['MaritalStatus'].astype('category').cat.codes
EmpleadosAttrition['Attrition'] = EmpleadosAttrition['Attrition'].astype('category').cat.codes
EmpleadosAttrition['OverTime'] = EmpleadosAttrition['Attrition'].astype('category').cat.codes


EmpleadosAttrition.head()

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,2,1,2,3,4,1,3,4,5,...,4,3,32,1,2,4,1,0,5,1
1,36,2,1,2,3,2,1,3,2,4,...,4,4,7,0,3,2,0,0,3,6
2,21,2,2,1,2,2,1,3,1,8,...,3,2,1,3,3,0,1,1,1,7
3,52,2,1,4,1,2,1,3,3,0,...,3,4,18,4,3,6,4,0,8,7
4,33,2,1,1,3,2,1,3,3,3,...,3,4,15,2,4,6,7,1,7,15

#Calculo de correlacion con Attrition

In [237]:
temp = EmpleadosAttrition[['Age', 'BusinessTravel', 'Department', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'JobInvolvement', 'JobLevel',
       'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsAtCompany',
       'DistanceFromHome']].corrwith(EmpleadosAttrition['Attrition'])

print(temp)

Age                        -0.212121
BusinessTravel              0.082899
Department                  0.054236
Education                  -0.055531
EducationField              0.051184
EnvironmentSatisfaction    -0.124327
Gender                     -0.028839
JobInvolvement             -0.166785
JobLevel                   -0.214266
JobRole                     0.078684
JobSatisfaction            -0.164957
MaritalStatus               0.180404
MonthlyIncome              -0.194936
NumCompaniesWorked         -0.009082
OverTime                    1.000000
PercentSalaryHike          -0.060880
PerformanceRating          -0.006471
RelationshipSatisfaction   -0.030945
TotalWorkingYears          -0.213329
TrainingTimesLastYear      -0.070884
WorkLifeBalance            -0.021723
YearsInCurrentRole         -0.203918
YearsSinceLastPromotion    -0.069000
YearsAtCompany             -0.176001
DistanceFromHome            0.052732
dtype: float64

#Seleccionando Variables

In [238]:
cols = []

for i, v in temp.items():
  if abs(v) >= 0.1:
    cols.append(i)
cols.append('Attrition')
print(cols)

EmpleadosAttritionFinal = pd.DataFrame()
EmpleadosAttritionFinal = EmpleadosAttrition[cols]

EmpleadosAttritionFinal.head()

['Age', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'OverTime', 'TotalWorkingYears', 'YearsInCurrentRole', 'YearsAtCompany', 'Attrition']

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,Attrition
0,50,4,3,4,4,0,0.864269,0,32,4,5,0
1,36,2,3,2,2,0,0.207340,0,7,2,3,0
2,21,2,3,1,2,2,0.088062,1,1,0,1,1
3,52,2,3,3,2,2,0.497574,0,18,6,8,0
4,33,2,3,3,3,1,0.664470,1,15,6,7,1

#PCA

In [239]:
pca = PCA()
pca.fit(EmpleadosAttritionFinal)

#print(cols)
#print(pca.explained_variance_)
#print(pca.explained_variance_ratio_)

EmpleadosAttritionPCA = pca.transform(EmpleadosAttritionFinal)
pca.fit(EmpleadosAttritionPCA)

EmpleadosAttritionFinal['C0'] = EmpleadosAttritionPCA[:,0]
EmpleadosAttritionFinal['C1'] = EmpleadosAttritionPCA[:,1]
EmpleadosAttritionFinal['C2'] = EmpleadosAttritionPCA[:,4]
EmpleadosAttritionFinal['C3'] = EmpleadosAttritionPCA[:,5]
EmpleadosAttritionFinal['C4'] = EmpleadosAttritionPCA[:,10]

EmpleadosAttritionFinal.head()

/tmp/ipython-input-1308980189.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EmpleadosAttritionFinal['C0'] = EmpleadosAttritionPCA[:,0]
/tmp/ipython-input-1308980189.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EmpleadosAttritionFinal['C1'] = EmpleadosAttritionPCA[:,1]
/tmp/ipython-input-1308980189.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EmpleadosAttritionFinal['C2'] = EmpleadosAttritionPCA[:,4]
/tmp/ipython-input-1308980189.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EmpleadosAttritionFinal['C3'] = EmpleadosAttritionPCA[:,5]
/tmp/ipython-input-1308980189.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EmpleadosAttritionFinal['C4'] = EmpleadosAttritionPCA[:,10]

,Age,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,TotalWorkingYears,YearsInCurrentRole,YearsAtCompany,Attrition,C0,C1,C2,C3,C4
0,50,4,3,4,4,0,0.864269,0,32,4,5,0,20.249768,-4.209398,0.946153,1.885190,0.133488
1,36,2,3,2,2,0,0.207340,0,7,2,3,0,-6.377631,-3.687561,-0.322292,-0.813260,-0.060488
2,21,2,3,1,2,2,0.088062,1,1,0,1,1,-21.519496,1.739868,-0.413438,-0.933130,0.027990
3,52,2,3,3,2,2,0.497574,0,18,6,8,0,13.822664,-5.843634,-0.505940,-0.892315,0.003796
4,33,2,3,3,3,1,0.664470,1,15,6,7,1,-1.442394,4.141135,0.437951,-0.626689,0.166204

#Creacion de CSV

In [240]:
EmpleadosAttritionFinal.to_csv('/content/EmpleadosAttritionFinal.csv', index=False)


#comment so it appears on the pdf